!!!
%html
  %head
    %title
      Version One Visualization
    %script{:type => "text/javascript", :src => "raphael-min.js"}
    %script{:type => "text/javascript", :src => "g.raphael-min.js"}
    %script{:type => "text/javascript", :src => "g.pie-min.js"}
    %script{:type => "text/javascript", :src => "jquery-1.6.1.min.js"}
  %body
    #content{:style => 'float:left'}
      %table
        %tbody
          %tr
            %td
              %a{:href => "/snapshot", :id => "tabular"}
                Tabular Data
            %td
              %a{:href => "/status"}
                Sprint Status
            %td
              %a{:href => "/bar"}
                Story-wise
            %td
              %a{:href => "/sprint"}
                Change Sprint
          %tr
            %td{:colspan => "100%", :align => "center"}
              %span= "Welcome, #{session[:user_name]}"
              %span= "Sprint - #{session[:sprint]}"
              %span= sprint_display
    #link{:style => 'float:right'}
      %a{:href => '/logout'}
        Logout
    #clear{:style => "clear:both"}
    %br
    = yield
