!!!
%html
  %head
    %title
      Version One Visualization
    %script{:type => "text/javascript", :src => "raphael-min.js"}
    %script{:type => "text/javascript", :src => "g.raphael-min.js"}
    %script{:type => "text/javascript", :src => "g.pie-min.js"}
    %script{:type => "text/javascript", :src => "jquery-1.6.1.min.js"}
  %body
    #content{:style => 'float:left;width: 500px;'}
      %table{:width => "100%"}
        %tbody
          %tr
            %td
              %a{:href => "/snapshot", :id => "tabular"}
                Tabular Data
            %td
              %a{:href => "/status"}
                Sprint Status
            %td
              %a{:href => "/transitions"}
                Story-wise
            %td
              %a{:href => "/sprint"}
                Change Sprint
          %tr
            %td{:colspan => "100%", :align => "center"}
              %div= "Hi, #{session[:user_name]}"
              %div= "Sprint - #{session[:sprint]}"
              %div= sprint_display
    #link{:style => 'float:right'}
      %a{:href => '/logout'}
        Logout
    #clear{:style => "clear:both"}
    %br
    = yield
