%table{:border => 1}
  - settings.cache.get("data_#{session[:sprint]}").each do |dat|
    %tr
      %td= "#{dat[:name]}"
      %td= "#{dat[:status]}"
      %td= "#{dat[:estimate]}"
      %td= "#{dat[:number]}"
